.elementor-163 .elementor-element.elementor-element-1b77b7e4:not(.elementor-motion-effects-element-type-background), .elementor-163 .elementor-element.elementor-element-1b77b7e4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f9f9f9;}.elementor-163 .elementor-element.elementor-element-1b77b7e4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:176px 0px 152px 0px;}.elementor-163 .elementor-element.elementor-element-1b77b7e4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-163 .elementor-element.elementor-element-380ab256 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-54918ff .aux-widget-inner{text-align:center;}.elementor-163 .elementor-element.elementor-element-54918ff .aux-modern-heading-primary{color:#3d3d3d;font-family:"Playfair Display", Sans-serif;font-size:52px;font-weight:bold;line-height:69px;margin:0px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-58e3223d{padding:154px 0px 150px 0px;}.elementor-163 .elementor-element.elementor-element-682b564d .aux-widget-3d-textbox .aux-3d-textbox-widget-content{background-color:rgba(255,255,255,0.9);}.elementor-163 .elementor-element.elementor-element-682b564d .col-title a, .col-title{color:#3d3d3d;}.elementor-163 .elementor-element.elementor-element-682b564d .col-title{font-family:"Playfair Display", Sans-serif;font-size:30px;font-weight:400;line-height:40px;padding-bottom:11px;}.elementor-163 .elementor-element.elementor-element-682b564d .col-subtitle{color:#3d3d3d;font-family:"Poppins", Sans-serif;font-size:10px;font-weight:600;line-height:16px;padding-bottom:0px;}.elementor-163 .elementor-element.elementor-element-682b564d{z-index:8;}.elementor-163 .elementor-element.elementor-element-cc020c3 .aux-widget-3d-textbox .aux-3d-textbox-widget-content{background-color:rgba(255,255,255,0.9);}.elementor-163 .elementor-element.elementor-element-cc020c3 .col-title a, .col-title{color:#3d3d3d;}.elementor-163 .elementor-element.elementor-element-cc020c3 .col-title{font-family:"Playfair Display", Sans-serif;font-size:30px;font-weight:400;line-height:40px;padding-bottom:11px;}.elementor-163 .elementor-element.elementor-element-cc020c3 .col-subtitle{color:#3d3d3d;font-family:"Poppins", Sans-serif;font-size:10px;font-weight:600;line-height:16px;padding-bottom:0px;}.elementor-163 .elementor-element.elementor-element-cc020c3{z-index:8;}.elementor-163 .elementor-element.elementor-element-578dd00a .aux-widget-3d-textbox .aux-3d-textbox-widget-content{background-color:rgba(255,255,255,0.9);}.elementor-163 .elementor-element.elementor-element-578dd00a .col-title a, .col-title{color:#3d3d3d;}.elementor-163 .elementor-element.elementor-element-578dd00a .col-title{font-family:"Playfair Display", Sans-serif;font-size:30px;font-weight:400;line-height:40px;padding-bottom:11px;}.elementor-163 .elementor-element.elementor-element-578dd00a .col-subtitle{color:#3d3d3d;font-family:"Poppins", Sans-serif;font-size:10px;font-weight:600;line-height:16px;padding-bottom:0px;}.elementor-163 .elementor-element.elementor-element-578dd00a{z-index:8;}.elementor-163 .elementor-element.elementor-element-c2c854b .aux-widget-3d-textbox .aux-3d-textbox-widget-content{background-color:rgba(255,255,255,0.9);}.elementor-163 .elementor-element.elementor-element-c2c854b .col-title a, .col-title{color:#3d3d3d;}.elementor-163 .elementor-element.elementor-element-c2c854b .col-title{font-family:"Playfair Display", Sans-serif;font-size:30px;font-weight:400;line-height:40px;padding-bottom:11px;}.elementor-163 .elementor-element.elementor-element-c2c854b .col-subtitle{color:#3d3d3d;font-family:"Poppins", Sans-serif;font-size:10px;font-weight:600;line-height:16px;padding-bottom:0px;}.elementor-163 .elementor-element.elementor-element-c2c854b{z-index:8;}.elementor-163 .elementor-element.elementor-element-527dc091 .aux-widget-3d-textbox .aux-3d-textbox-widget-content{background-color:rgba(255,255,255,0.9);}.elementor-163 .elementor-element.elementor-element-527dc091 .col-title a, .col-title{color:#3d3d3d;}.elementor-163 .elementor-element.elementor-element-527dc091 .col-title{font-family:"Playfair Display", Sans-serif;font-size:30px;font-weight:400;line-height:40px;padding-bottom:11px;}.elementor-163 .elementor-element.elementor-element-527dc091 .col-subtitle{color:#3d3d3d;font-family:"Poppins", Sans-serif;font-size:10px;font-weight:600;line-height:16px;padding-bottom:0px;}.elementor-163 .elementor-element.elementor-element-527dc091{z-index:8;}.elementor-163 .elementor-element.elementor-element-da2b69c .aux-widget-3d-textbox .aux-3d-textbox-widget-content{background-color:rgba(255,255,255,0.9);}.elementor-163 .elementor-element.elementor-element-da2b69c .col-title a, .col-title{color:#3d3d3d;}.elementor-163 .elementor-element.elementor-element-da2b69c .col-title{font-family:"Playfair Display", Sans-serif;font-size:30px;font-weight:400;line-height:40px;padding-bottom:11px;}.elementor-163 .elementor-element.elementor-element-da2b69c .col-subtitle{color:#3d3d3d;font-family:"Poppins", Sans-serif;font-size:10px;font-weight:600;line-height:16px;padding-bottom:0px;}.elementor-163 .elementor-element.elementor-element-da2b69c{z-index:8;}.elementor-163 .elementor-element.elementor-element-3cbd1f42 > .elementor-container{max-width:1706px;}.elementor-163 .elementor-element.elementor-element-3cbd1f42{padding:41px 0px 125px 0px;}.elementor-163 .elementor-element.elementor-element-00d9e3b .aux-widget-inner{text-align:center;}.elementor-163 .elementor-element.elementor-element-00d9e3b .aux-modern-heading-primary{color:#3d3d3d;font-family:"Playfair Display", Sans-serif;font-size:52px;font-weight:bold;line-height:69px;margin:0px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-3d2b095 [class*="aux-parallax-column"]{transition-timing-function:cubic-bezier(0.215,0.61,0.355,1);}.elementor-163 .elementor-element.elementor-element-3d2b095 .auxshp-loop-title{color:#3d3d3d;font-family:"Playfair Display", Sans-serif;font-size:24px;font-weight:300;line-height:30px;}.elementor-163 .elementor-element.elementor-element-3d2b095 .woocommerce-Price-amount{color:#1359b6;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:500;line-height:28px;}.elementor-163 .elementor-element.elementor-element-3d2b095 .auxshp-meta-terms > a{color:#aaaaaa;}.elementor-163 .elementor-element.elementor-element-3d2b095 .auxshp-meta-terms, .elementor-163 .elementor-element.elementor-element-3d2b095 .auxshp-meta-terms a{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:500;text-transform:none;font-style:normal;line-height:18px;}.elementor-163 .elementor-element.elementor-element-3d2b095 .loop-tools-wrapper .button{font-family:"Montserrat", Sans-serif;font-size:10px;font-weight:600;}.elementor-163 .elementor-element.elementor-element-ea6b41c{margin-top:190px;margin-bottom:0px;}.elementor-163 .elementor-element.elementor-element-4af38c13 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-37e9c967{--divider-border-style:solid;--divider-border-color:#000;--divider-border-width:115px;}.elementor-163 .elementor-element.elementor-element-37e9c967 .elementor-divider-separator{width:1px;margin:0 auto;margin-center:0;}.elementor-163 .elementor-element.elementor-element-37e9c967 .elementor-divider{text-align:center;padding-top:0px;padding-bottom:0px;}.elementor-163 .elementor-element.elementor-element-65e48e57:not(.elementor-motion-effects-element-type-background), .elementor-163 .elementor-element.elementor-element-65e48e57 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f9f9f9;}.elementor-163 .elementor-element.elementor-element-65e48e57{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:110px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-65e48e57 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-163 .elementor-element.elementor-element-28fa239b .aux-widget-inner{text-align:center;}.elementor-163 .elementor-element.elementor-element-28fa239b .aux-modern-heading-primary{color:#3d3d3d;font-family:"Playfair Display", Sans-serif;font-size:52px;font-weight:bold;line-height:69px;margin:0px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-28fa239b .aux-modern-heading-secondary{color:#3d3d3d;font-family:"Montserrat", Sans-serif;font-size:26px;font-weight:600;margin:15px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-44d45aa6 .entry-title a{color:#3d3d3d;font-family:"Playfair Display", Sans-serif;font-size:21px;font-weight:400;line-height:28px;}.elementor-163 .elementor-element.elementor-element-44d45aa6 .entry-info a, .elementor-163 .elementor-element.elementor-element-44d45aa6 .entry-info{color:#aaaaaa;}.elementor-163 .elementor-element.elementor-element-44d45aa6 .entry-info, .elementor-163 .elementor-element.elementor-element-44d45aa6 .entry-info a{font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:400;text-transform:uppercase;line-height:15px;letter-spacing:0px;}.elementor-163 .elementor-element.elementor-element-44d45aa6 .entry-info{margin-bottom:5px;}.elementor-163 .elementor-element.elementor-element-44d45aa6 .entry-meta{padding:0px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-44d45aa6{text-align:left;}.elementor-163 .elementor-element.elementor-element-44d45aa6 .column-entry{padding:0px 0px 0px 0px;}.elementor-163 .elementor-element.elementor-element-44d45aa6 .type-post .entry-main{padding:33px 35px 22px 40px;}.elementor-163 .elementor-element.elementor-element-44d45aa6 > .elementor-widget-container{margin:71px 0px 0px 0px;}@media(max-width:1024px){.elementor-163 .elementor-element.elementor-element-58e3223d{padding:154px 100px 154px 100px;}}@media(max-width:767px){.elementor-163 .elementor-element.elementor-element-65e48e57{padding:70px 35px 0px 35px;}}@media(max-width:1024px) and (min-width:768px){.elementor-163 .elementor-element.elementor-element-18781e83{width:100%;}.elementor-163 .elementor-element.elementor-element-19c61837{width:100%;}.elementor-163 .elementor-element.elementor-element-70f36e17{width:100%;}}/* Start custom CSS for aux_3d_textbox, class: .elementor-element-682b564d */.elementor-163 .elementor-element.elementor-element-682b564d .aux-3d-textbox-widget-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 9999;
}

.elementor-163 .elementor-element.elementor-element-682b564d .col-title,
.elementor-163 .elementor-element.elementor-element-682b564d .col-subtitle {
    position: static;
    transform: none;
}

.elementor-163 .elementor-element.elementor-element-682b564d .col-subtitle {
    margin-top: 0;
}


.elementor-163 .elementor-element.elementor-element-682b564d:hover {
    z-index:  99;
}/* End custom CSS */
/* Start custom CSS for aux_3d_textbox, class: .elementor-element-cc020c3 */.elementor-163 .elementor-element.elementor-element-cc020c3 .aux-3d-textbox-widget-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 9999;
}

.elementor-163 .elementor-element.elementor-element-cc020c3 .col-title,
.elementor-163 .elementor-element.elementor-element-cc020c3 .col-subtitle {
    position: static;
    transform: none;
}

.elementor-163 .elementor-element.elementor-element-cc020c3 .col-subtitle {
    margin-top: 0;
}


.elementor-163 .elementor-element.elementor-element-cc020c3:hover {
    z-index:  99;
}/* End custom CSS */
/* Start custom CSS for aux_3d_textbox, class: .elementor-element-578dd00a */.elementor-163 .elementor-element.elementor-element-578dd00a .aux-3d-textbox-widget-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.elementor-163 .elementor-element.elementor-element-578dd00a .col-title,
.elementor-163 .elementor-element.elementor-element-578dd00a .col-subtitle {
    position: static;
    transform: none;
}

.elementor-163 .elementor-element.elementor-element-578dd00a .col-subtitle {
    margin-top: 0;
}


.elementor-163 .elementor-element.elementor-element-578dd00a:hover {
    z-index:  99;
}/* End custom CSS */
/* Start custom CSS for aux_3d_textbox, class: .elementor-element-c2c854b */.elementor-163 .elementor-element.elementor-element-c2c854b .aux-3d-textbox-widget-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.elementor-163 .elementor-element.elementor-element-c2c854b .col-title,
.elementor-163 .elementor-element.elementor-element-c2c854b .col-subtitle {
    position: static;
    transform: none;
}

.elementor-163 .elementor-element.elementor-element-c2c854b .col-subtitle {
    margin-top: 0;
}


.elementor-163 .elementor-element.elementor-element-c2c854b:hover {
    z-index:  99;
}/* End custom CSS */
/* Start custom CSS for aux_3d_textbox, class: .elementor-element-527dc091 */.elementor-163 .elementor-element.elementor-element-527dc091 .aux-3d-textbox-widget-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.elementor-163 .elementor-element.elementor-element-527dc091 .col-title,
.elementor-163 .elementor-element.elementor-element-527dc091 .col-subtitle {
    position: static;
    transform: none;
}

.elementor-163 .elementor-element.elementor-element-527dc091 .col-subtitle {
    margin-top: 0;
}

.elementor-163 .elementor-element.elementor-element-527dc091:hover {
    z-index:  99;
}/* End custom CSS */
/* Start custom CSS for aux_3d_textbox, class: .elementor-element-da2b69c */.elementor-163 .elementor-element.elementor-element-da2b69c .aux-3d-textbox-widget-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.elementor-163 .elementor-element.elementor-element-da2b69c .col-title,
.elementor-163 .elementor-element.elementor-element-da2b69c .col-subtitle {
    position: static;
    transform: none;
}

.elementor-163 .elementor-element.elementor-element-da2b69c .col-subtitle {
    margin-top: 0;
}

.elementor-163 .elementor-element.elementor-element-da2b69c:hover {
    z-index:  99;
}/* End custom CSS */
/* Start custom CSS for aux_products_parallax, class: .elementor-element-3d2b095 */.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-filters li>a {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-filters.aux-slideup li>a.aux-selected span::after, .aux-filters.aux-slideup li>a.aux-selected span::before {
    color: #3D3D3D !important;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-filters.aux-slideup li>a span::after, .aux-filters.aux-slideup li>a span::before {
    color: #D3D3D3 !important;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 [class*="aux-parallax-column"] {
    position: relative;
    z-index: 9;
    padding: 0 45px;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-parallax-column-2 {
    margin-top: 208px;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-parallax-column-3 {
    margin-top: 72px;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-product-parallax-wrapper{
    background: #FFF;
}

@media only screen and (max-width:1024px){
    .elementor-163 .elementor-element.elementor-element-3d2b095 [class*="aux-parallax-column"] {
        margin-top: 0 !important;
    }
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .auxshp-entry-main {
    height: 107px;
} 

.elementor-163 .elementor-element.elementor-element-3d2b095 .auxshp-meta-terms{
    color: #aaaaaa;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-parallax-item {
    margin-bottom: 275px;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-parallax-item:last-child {
    margin-bottom: 0;
}

.elementor-163 .elementor-element.elementor-element-3d2b095 .aux-img-dynamic-dropshadow-frame .aux-img-dynamic-dropshadow-cloned {
    transform: translateX(75px) translateY(55px);
}/* End custom CSS */